<p id="notice"><%= notice %></p>


<p>
  <strong>Name:</strong>
  <%= @resume.name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @resume.attachment %>
</p>

<p>
  <strong>Slides:</strong>
</p>

<%= link_to 'image link' ,  "/uploads/resume/attachment/#{@resume.id}/#{@resume.attachment_identifier}1.png" %>
<%= "..... "%>

<%= link_to 'Back', resumes_path %>
<% images_path = Array.new  %>



<% images_names = Dir.entries("public/uploads/resume/attachment/#{@resume.id}").select {|f| !File.directory? f} %>
<%  images_names.shift %>
<% images_names.sort! %>


<% images_names.each do |imageName|   %>
<% images_path.push("/uploads/resume/attachment/#{@resume.id}/#{imageName}" ) %>
<% end %>

<script type="text/javascript" charset="utf-8">
  $(function(){
    $("#slides").electricSlide();
  })
</script>
<div id="slides">
<% images_path.each do |slide| %>
  <div class="slide">
    <%= image_tag slide %>
  </div>
<% end %>
</div>